<div class="section-edge"></div>

<div class="section-content">
    <div class="rules">
        <div class="rules-row">
            <div class="rule-col">
                <h1>Rule 1</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, maxime commodi, reiciendis
                    aliquid ipsam eligendi accusantium aut atque officiis quis tempore, explicabo recusandae officia
                    veniam. Provident nostrum quae vel dicta?
                    Saepe veniam praesentium porro cumque amet nemo, nisi recusandae facere enim maxime impedit cum
                    voluptates, quis vitae eveniet eius esse. Deleniti dicta ducimus, quam ab dolor earum natus harum
                    in.
                    Minima, quae. Labore ullam nam, modi vitae vero deleniti architecto veritatis repellat ratione
                    dignissimos rerum molestias temporibus, vel, a tempore ipsa nemo totam odit ad pariatur adipisci
                    cumque? Doloremque, esse.
                    Repellat neque quas consequatur dolorum repellendus velit dolore! Dolorem pariatur repellendus sunt
                    dicta a optio hic perspiciatis accusamus nihil tempora illum perferendis, suscipit quos quam soluta
                    adipisci molestiae omnis inventore!</p>
            </div>
            <div class="rule-col">
                <h1>Rule 2</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, maxime commodi, reiciendis
                    aliquid ipsam eligendi accusantium aut atque officiis quis tempore, explicabo recusandae officia
                    veniam. Provident nostrum quae vel dicta?
                    Saepe veniam praesentium porro cumque amet nemo, nisi recusandae facere enim maxime impedit cum
                    voluptates, quis vitae eveniet eius esse. Deleniti dicta ducimus, quam ab dolor earum natus harum
                    in.
                    Minima, quae. Labore ullam nam, modi vitae vero deleniti architecto veritatis repellat ratione
                    dignissimos rerum molestias temporibus, vel, a tempore ipsa nemo totam odit ad pariatur adipisci
                    cumque? Doloremque, esse.
                    Repellat neque quas consequatur dolorum repellendus velit dolore! Dolorem pariatur repellendus sunt
                    dicta a optio hic perspiciatis accusamus nihil tempora illum perferendis, suscipit quos quam soluta
                    adipisci molestiae omnis inventore!</p>
            </div>
        </div>
    </div>
</div>