<div class="section-edge"></div>

<div class="section-content">
    <div class="rules">
        <div class="rules-row">
            <div class="rule-col">
                <h1>Rules</h1>
                <br>
                <ol>
                    <li>Do not destroy or take anything during exploration</li>
                    <li>Behave calmly, be quiet</li>
                    <li>Do not expose places that are secret</li>
                    <li>Do not leave anything behind you except your footprints</li>
                    <li>Photography is allowed only without the flash because of risk of exposing the group</li>
                </ol>
            </div>
            <div class="rule-col">
                <h1>Instructions</h1>
                <br>
                <ol>
                    <li>Be everywhere in time, who is late is not coming</li>
                    <li>Don't bring your friend with you, only the ones with permission. If you do, you and your friend will be excluded from the trip</li>
                    <li>Follow the guide exact orders, if not you will be excluded</li>
                    <li>Do not share any information about meeting place, time  and location with anyone, if you do, you won't be able to come next time</li>
                </ol>
            </div>
        </div>
    </div>
</div>
