nav {
    position: fixed;
    z-index: 99;

    width: 100%;

    padding: 28px;

    .links {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .link {
            margin: 0 16px;
            color: var(--color-text);
            text-decoration: none;

            display: block;
            width: calc(20% - 32px);

            text-align: center;

            font-size: 20px;

            font-family: 'Major Mono Display', Arial, Helvetica, sans-serif;

            &:hover:not(.logo) {
                filter: var(--filter-brightness-low);
                color: var(--color-accent-l2);
            }

            &.active:not(.logo) {
                color: var(--color-accent-base);
            }
        }
    }

    .logo {
        display: inline-block;
        text-align: center;
        .upper {
            font-size: 32px;
            font-weight: bold;
        }

        .lower {
            font-size: 24px;
        }
    }
}