.section-edge {
    height: 68px;
    background: var(--color-bg-l3);
    clip-path: polygon(0% 80%, 100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    margin-top: -68px;
    width: 100%;
}

.section-content {
    background: var(--color-bg-l3);
    color: var(--color-black);

    padding-bottom: 48px;
}

.event-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    transform: translateY(-96px);
    
    .event {
        width: 50%;

        background: var(--color-accent-l1);
        max-width: 960px;

        margin: 8px auto;

        display: flex;

        .event-time-col {
            background: var(--color-accent-base);
            padding: 4px 32px;
            width: 25%;
            display: inline-block;

            .event-time {
                display: block;
                font-weight: bold;
                font-size: 28px;
                padding: 0;

                div {
                    word-break: keep-all;
                    word-wrap: none;
                }
            }
        }

        .event-details-col {
            padding: 4px 32px;
            width: 75%;

            .event-description {
                word-break: break-all;
                white-space: pre-wrap;
            }
        }
    }
}