.section-edge {
    height: 68px;
    background: var(--color-bg-l3);
    clip-path: polygon(0% 80%, 100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    margin-top: -68px;
    width: 100%;
}

.section-content {
    background: var(--color-bg-l3);
    color: var(--color-black);

    padding-bottom: 48px;
}

.event-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 50%;

    transform: translateY(-96px);
    
    .event {
        width: 50%;

        background: var(--color-accent-l1);
        max-width: 960px;

        margin: 8px auto;

        display: flex;

        div {
            padding: 4px 32px;
        }

        .event-time-col {
            background: var(--color-accent-base);
            .event-time {
                text-align: center;
                display: block;
                margin-top: 50%;
                transform: translateY(-50%);
                font-weight: bold;
                font-size: 28px;
            }
        }

        .event-details-col {
            .event-description {
                word-break: break-all;
                white-space: pre-wrap;
            }
        }
    }
}