.section-edge {
    height: 68px;
    background: var(--color-bg-l3);
    clip-path: polygon(0% 80%, 100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    margin-top: -68px;
    width: 100%;
}

.section-content {
    background: var(--color-bg-l3);
    color: var(--color-black);

    padding-bottom: 48px;
}

.event-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    transform: translateY(-96px);
    
    .event {
        width: 50%;

        background: var(--color-accent-l1);
        max-width: 960px;
        min-height: 240px;

        box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.75);

        margin: 8px auto;

        display: flex;

        .event-time-col {
            background: var(--color-accent-base);
            padding: 4px 32px;
            width: 25%;
            display: flex;
            align-items: center;
            box-shadow: 8px 0px 13px -5px rgba(0,0,0,0.75);

            .event-time {
                display: block;
                font-weight: bolder;
                font-size: 24px;
                padding: 0;

                width: 100%;
                text-align: center;

                .num {
                    font-size: 48px;
                }
            }
        }

        .event-details-col {
            padding: 16px 32px;
            width: 75%;

            .event-title {
                text-align: center;
            }

            .event-description {
                word-break: break-all;
                white-space: pre-wrap;
            }
        }
    }
}