<div class="section-edge"></div>

<div class="section-content">
    <div class="event-row">
        <div class="event" *ngFor="let event of events">
            <div class="event-time-col">
                <div class="event-time">
                    <div><span class="num">26</span> days</div>
                    <div><span class="num">18</span> hours</div>
                    <div><span class="num">06</span> mins</div>
                </div>
            </div>
            <div class="event-details-col">
                <h1 class="event-title">{{event.title}}</h1>
                <p class="event-description">{{event.description}}</p>
            </div>

        </div>
    </div>
</div>