.section-edge {
    height: 68px;
    background: var(--color-bg-l3);
    clip-path: polygon(0% 80%, 100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    margin-top: -68px;
    width: 100%;
}

.section-content {
    background: var(--color-bg-l3);
    color: var(--color-black);
}

.event-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 50%;
    
    .event {
        width: 50%;
    }
}