<div class="section-edge"></div>

<div class="section-content">
    <div class="event-row">
        <div class="event" *ngFor="let event of events">
            <div class="event-time-col">
                <div class="event-time">
                    <div><span class="num">{{getRemaining(event.endDate, 'days')}}</span> days</div>
                    <div><span class="num">{{getRemaining(event.endDate, 'hours')}}</span> hours</div>
                    <div><span class="num">{{getRemaining(event.endDate, 'mins')}}</span> mins</div>
                </div>
            </div>
            <div class="event-details-col">
                <h1 class="event-title">{{event.title}}</h1>
                <div class="event-description"><p>{{event.description}}</p></div>
            </div>

        </div>
    </div>
</div>