// Imports
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap'); // Logo font
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); // Content font

// Fonts

@font-face {
    src: url("./assets/aqua.ttf");
    font-family: "Aqua";
}

// Global SCSS

:root {
    --color-bg-l3: #c7c7c7;
    --color-bg-l2: #909090;
    --color-bg-l1: #595959;
    --color-bg-base: #222222;
    --color-bg-d1: #191919;
    --color-bg-d2: #111111;
    --color-bg-d3: #080808;

    --color-accent-l3: #fff2bf;
    --color-accent-l2: #ffe67f;
    --color-accent-l1: #ffd93f;
    --color-accent-base: #ffcd00;
    --color-accent-d1: #bf9900;
    --color-accent-d2: #7f6600;
    --color-accent-d3: #3f3300;
    
    --color-white: #fff;
    --color-black: #000;

    --color-text: var(--color-white);
    --color-text-black: var(--color-black);

    --filter-brightness-low: brightness(0.8);
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--color-bg-base);
    background: linear-gradient(to bottom, var(--color-bg-base), var(--color-bg-d3));
    background-repeat: no-repeat;

    color: var(--color-text);

    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-weight: bold;
}