@keyframes rotat {
    0% {
        transform: rotate(0deg), scale(2);
    }
    100% {
        transform: rotate(360deg) scale(2);
    }
}

mdb-carousel {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -3;
    top: 0;
    left:0;

    mdb-carousel-item {
        height: 100vh;
        background-size: cover;
		background-repeat: no-repeat;
        background-position: center center;
        //animation:  120s rotat infinite linear;
    }
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background: linear-gradient(to bottom, var(--color-black), transparent);

    h1 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        width: 100%;

        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.hero-margin {
    height:100vh;
}