mdb-carousel {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -3;
    top: 0;
    left:0;

    mdb-carousel-item {
        height: 100vh;
        background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
    }
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background: linear-gradient(to bottom, var(--color-black), transparent);

    .logo {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        width: 100%;

        text-align: center;
        font-family: "Major Mono Display", Arial, Helvetica, sans-serif;

        h1 {
            font-size: 100px;
        }

        .spacer {
			display: block;
			
			width: 428px;

			margin-left: 50%;
			transform: translateX(-50%);
			border-bottom: 2px solid var(--color-white);
			
			transition: all 0.5s ease;
        }

        .split-text {
            h1 {
                display: flex;
                justify-content: center;
                word-break: break-all;
            }

            &:hover {
                .hidden {
                    opacity: 1;
                    max-width: 1em;
                }

                .spacer {
					opacity: 1;
                    width: 50vw;
                }
            }

            .hidden {
                max-width: 0;
                opacity: 0;
                transition: all 0.5s ease;
            }
        }
    }
}

.hero-margin {
    height:100vh;
}